body {
    text-align: center;
    background-color: rgb(36, 37, 40);
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    background-color: rgb(156, 155, 194);
    padding-bottom: 20px;
    width: 500px;
    width: 80%;
    height: 700px;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin: 40px auto;
    overflow:hidden;
}

#head {
    background-color: rgb(76, 49, 150);
    margin-bottom: 10px;
}

#body {
    color: #ffffff;
    padding-top: 15px;
}

#head h1 {
    margin: 0px 0px 40px 0px;
    color: #ffffff;
    padding-top: 40px;
    font-size: 32px;
}


input {
    width: 70px;
    height: 50px;
    margin-bottom: 15px;
    background-color: rgb(76, 49, 150);
    color: #ffffff;
    border: 1px solid pink;
    border-radius: 2px;
    font-size: 50px;
    padding: 10px 15px;
}

button {
    padding: 10px 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 2px;
}

.block {
    margin: 20px;
    background-color: rgb(97, 96, 123);
    padding: 10px 0px;
    height: 76px;
}

.block h2 {
    margin: 10px 0px 10px 0px;
}
.block p {
    margin-top: 0px;
}

#alert {
    color: rgb(144, 0, 206);
    font-weight: bold;
    font-style: italic;
    margin: 0px 25px;

}

